.item {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.opennedButton,
.closedButton {
  background: transparent;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 50px;
  font-size: 16px;
  transition: background-color 0.5s ease, transform 0.3s ease;
  color: #007aff;
}

.opennedButton:hover,
.closedButton:hover {
  background-color: #d1d9e6;
}

.opennedButton.active,
.closedButton.active {
  background-color: #1a202c;
  color: white;
}
.opennedButton.active:hover,
.closedButton.active:hover {
  transform: scale(1.1);
}

.opennedButton.disabled,
.closedButton.disabled,
.opennedButton:disabled,
.closedButton:disabled {
  background-color: #f1f1f1; /* Light gray background */
  color: #ccc; /* Light gray text */
  cursor: not-allowed; /* Show the "not allowed" cursor */
}

@media (max-width: 768px) {
  .item {
    font-size: 12px;
    gap: 6px;
  }

  .text {
    font-size: 14px;
  }

  .opennedButton {
    padding: 6px;
    font-size: 14px;
  }

  .closedButton {
    padding: 4px;
    font-size: 14px;
  }
}
