.endOfListLine {
  margin: 20px auto;
  width: 80%;
  height: 2px;
  background-color: #ccc;
  border-radius: 2px;
  position: relative;
}

.endOfListLine::after {
  content: " ";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
}
