.container {
  display: flex;
  min-height: 100vh;
  margin-top: 50px;
  transition: margin-left 0.3s ease;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 60px;
  background-color: #f4f4f4;
  color: #333;
  height: calc(100vh - 50px);
  transition: margin-right 0.5s ease, width 0.5s ease;
  overflow: hidden;
  z-index: 0;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}

.sidebarOpen {
  width: 240px;
}

.toggleButton {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  color: #1a202c;
  cursor: pointer;
  z-index: 2;
}

.sidebarOpen .toggleButton {
  left: 20px;
  transform: translateX(0);
}

.sidebarContent {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8px;
}

.sidebarContent div {
  font-size: 14px;
}

.sidebarContent div:last-child {
  padding-bottom: 20px;
}

.content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.5s ease, width 0.5s ease;
  flex-grow: 1;
  background-color: white;
  z-index: 1;
  width: calc(100% - 60px);
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #e0e0e0;
}

.welcome {
  font-size: 24px;
  font-weight: bold;
}

.message {
  font-size: 16px;
  margin-top: 10px;
}

.buttons {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: 8px;
  margin-right: 8px;
}

.logoutButton {
  background-color: #ff2415;
  color: #1a202c;
  display: flex;
  align-items: center;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  width: auto;
  justify-content: flex-start;
  transition: background-color 0.3s ease, width 0.3s ease, padding 0.3s ease,
    font-size 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoutButton:hover {
  background-color: #c42d2d;
}

.logoutButton svg {
  margin-right: 10px;
  transition: margin-right 0.3s ease;
}

.sidebar:not(.sidebarOpen) .logoutButton {
  transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease;
  padding: 10px;
  justify-content: center;
  margin: 0;
  width: 40px;
  height: 40px;
}

.sidebar:not(.sidebarOpen) .logoutButton svg {
  margin-right: 0px;
}

.sidebarOpen .logoutButton {
  transition: width 0.3s ease, padding 0.3s ease; /* Smooth transition when expanding the button */
  padding: 8px 16px; /* Normal padding with text visible */
  justify-content: flex-start; /* Align the content with the label */
  width: auto;
  height: auto;
}

.sidebarOpen + .content {
  margin-left: 240px;
  width: calc(100% - 200px);
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #e0e0e0;
}

.sidebarOpen .sidebarContent {
  padding-left: 0;
}

.sidebarOpen .item {
  margin-left: -8px;
}

.sidebarOpen .text {
  gap: 10px;
}

.closedSidebarContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 60px;
}

.closedSidebarContent button {
  border: 0px;
}

.opennedButton p {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: 40px;
  }

  .sidebar {
    width: 40px;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 100;
    transition: width 0.3s ease;
  }

  .sidebarOpen {
    width: 140px;
  }

  .content {
    margin-left: 40px;
    padding: 15px;
    transition: margin-left 0.3s ease, width 0.3s ease;
    flex-grow: 1;
    background-color: white;
    z-index: 1;
    width: calc(100% - 40px);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    border-left: 2px solid #e0e0e0;
  }

  .toggleButton {
    top: 5px;
    z-index: 101;
    position: absolute;
  }

  .sidebarOpen .toggleButton {
    left: 20px;
    transform: translateX(0);
  }

  .welcome {
    font-size: 18px;
  }

  .message {
    font-size: 12px;
    margin-top: 8px;
  }

  .logoutButton,
  .homeButton {
    padding: 6px 12px;
    font-size: 12px;
  }

  .sidebarOpen + .content {
    margin-left: 140px;
    width: calc(100% - 140px);
  }

  .sidebarOpen .sidebarContent {
    padding-left: 5px;
  }

  .sidebarContent {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
  }

  .closedSidebarContent {
    margin-top: 60px;
  }
  .buttons {
    margin-left: 6px;
    margin-right: 6px;
  }

  .logoutButton {
    font-size: 12px;
    padding: 14px;
  }
  .sidebar:not(.sidebarOpen) .logoutButton {
    font-size: 12px;
    padding: 14px;
    width: 24px;
    height: 24px;
  }
  .logOutIcon {
    font-size: 18px;
  }
}
