.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 60px;
  background-color: #f0f0f0;
  color: #333;
  height: calc(100vh - 50px);
  transition: margin-right 0.3s ease, width 0.3s ease;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.2);
}

.sidebarOpen {
  width: 240px;
}

.toggleButton {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  color: #1a202c;
  cursor: pointer;
  z-index: 2;
}

.sidebarOpen .toggleButton {
  left: 20px;
  transform: translateX(0);
}

.sidebarContent {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8px;
}

.content {
  margin-left: 60px;
  transition: margin-left 0.3s ease, width 0.3s ease;
  flex-grow: 1;
  background-color: white;
  z-index: 0;
  width: calc(100% - 60px);
  min-height: calc(100vh - 50px);
  margin-top: 50px;
}

.welcome {
  font-size: 24px;
  font-weight: bold;
}

.message {
  font-size: 16px;
  margin-top: 10px;
}

.buttons {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: 8px;
  margin-right: 8px;
}

.sidebarOpen + .content {
  margin-left: 240px;
  width: calc(100% - 200px);
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
}

.sidebarOpen .sidebarContent {
  padding-left: 0;
}

.sidebarOpen .item {
  margin-left: -8px;
}

.sidebarOpen .text {
  gap: 10px;
}

.closedSidebarContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 60px;
}

.closedSidebarContent button {
  border: 0px;
}

.opennedButton p {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 40px;
    height: calc(100vh - 40px);
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 1;
    transition: width 0.3s ease;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.2);
  }

  .sidebarOpen {
    width: 140px;
  }

  .content {
    margin-left: 40px;
    transition: margin-left 0.3s ease, width 0.3s ease;
    flex-grow: 1;
    background-color: white;
    z-index: 0;
    width: calc(100% - 40px);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 40px);
  }

  .toggleButton {
    top: 20px;
    z-index: 101;
    position: absolute;
  }

  .sidebarOpen .toggleButton {
    left: 20px;
    transform: translateX(0);
  }

  .welcome {
    font-size: 18px;
  }

  .message {
    font-size: 12px;
    margin-top: 8px;
  }

  .homeButton {
    padding: 6px 12px;
    font-size: 12px;
  }

  .sidebarOpen + .content {
    margin-left: 140px;
    width: calc(100% - 140px);
  }

  .sidebarOpen .sidebarContent {
    padding-left: 5px;
  }

  .sidebarContent {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
  }

  .closedSidebarContent {
    margin-top: 60px;
  }
  .buttons {
    margin-left: 6px;
    margin-right: 6px;
  }

  .logOutIcon {
    font-size: 18px;
  }
}
