.container {
  display: flex;
  min-height: 100vh;
  margin-top: 50px;
  transition: margin-left 0.3s ease;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 60px;
  background-color: #f4f4f4;
  color: #333;
  height: calc(100vh - 50px);
  transition: margin-right 0.5s ease, width 0.5s ease;
  overflow: hidden;
  z-index: 0;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}

.sidebarOpen {
  width: 240px;
}

.toggleButton {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  color: #1a202c;
  cursor: pointer;
  z-index: 2;
}

.sidebarOpen .toggleButton {
  left: 20px;
  transform: translateX(0);
}

.sidebarContent {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8px;
}

.sidebarContent div {
  font-size: 14px;
}

.sidebarContent div:last-child {
  padding-bottom: 20px;
}

.content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.5s ease, width 0.5s ease;
  flex-grow: 1;
  background-color: white;
  z-index: 1;
  width: calc(100% - 60px);
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #e0e0e0;
}
.welcome {
  font-size: 24px;
  font-weight: bold;
}

.message {
  font-size: 16px;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
}

.logoutButton,
.homeButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
}

.logoutButton:hover,
.homeButton:hover {
  background-color: #0056b3;
}

.sidebarOpen + .content {
  margin-left: 240px;
  width: calc(100% - 200px);
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #e0e0e0;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.closedButton {
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 50px;
}
.closedButton:hover {
  background-color: #c8e6fd;
}

.opennedButton {
  background: transparent;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  margin-left: 10px;
  border-radius: 50px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.opennedButton:hover {
  background-color: #c8e6fd;
}

.icon {
  font-size: 24px;
}

.sidebarOpen .sidebarContent {
  padding-left: 0;
}

.sidebarOpen .item {
  margin-left: -8px;
}

.sidebarOpen .text {
  gap: 10px;
}

.closedSidebarContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-top: 40px;
}

.closedSidebarContent button {
  border: 0px;
}

.opennedButton p {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: 40px;
  }

  .sidebar {
    width: 40px;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 100;
    transition: width 0.3s ease;
  }

  .sidebarOpen {
    width: 140px;
  }

  .content {
    margin-left: 40px;
    padding: 15px;
    transition: margin-left 0.3s ease, width 0.3s ease;
    flex-grow: 1;
    background-color: white;
    z-index: 1;
    width: calc(100% - 40px);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    border-left: 2px solid #e0e0e0;
  }

  .toggleButton {
    top: 5px;
    z-index: 101;
    position: absolute;
  }

  .sidebarOpen .toggleButton {
    left: 20px;
    transform: translateX(0);
  }

  .welcome {
    font-size: 18px;
  }

  .message {
    font-size: 12px;
    margin-top: 8px;
  }

  .buttons {
    margin-top: 12px;
  }

  .logoutButton,
  .homeButton {
    padding: 6px 12px;
    font-size: 12px;
  }

  .sidebarOpen + .content {
    margin-left: 140px;
    width: calc(100% - 140px);
  }

  .item {
    font-size: 12px;
    gap: 6px;
  }

  .text {
    font-size: 14px;
  }

  .sidebarOpen .sidebarContent {
    padding-left: 5px;
  }

  .sidebarContent {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
  }

  .closedSidebarContent {
    margin-top: 40px;
  }

  .closedButton {
    padding: 6px;
    font-size: 14px;
  }

  .opennedButton {
    padding: 6px;
    font-size: 12px;
  }
}
